<h1>Editing car model</h1>

<%= render "form", car_model: @car_model %>

<br>

<div>
  <%= link_to "Show this car model", @car_model %> |
  <%= link_to "Back to car models", car_models_path %>
</div>
